{% extends "layout.html" %}


{% block body %}
{% from "includes/formhelpers.html" import render_field %}
<div class = "container jumbotron">
    <h3> Senin Makalen </h3>
    <h5>Bilgini paylaştığın için teşekkürler {{session["username"]}}</h5>
    <hr>
</div>
<div class = "container">
<form method="POST">
    {{ render_field(form.title, class="form-control") }}
    {{ render_field(form.content, class="form-control") }}
    <button type="submit" class="btn btn-primary">Makaleyi Ekle</button>
</form>
</div>
{% endblock body %}