{% extends "layout.html" %}


{% block body %}
<div class="container jumbotron" style="background-color:lightblue">
<h3>Makaleler</h3>
<hr>
<p>Hadi öğrenelim!</p>
</div>

<div class="container">

    <ul class="list-group ">
        {% for art in articles %}
            <li class="list-group-item list-group-item-primary list-group-item-action"><a class="btn" href="article/{{art.id}}">{{art.title}}</a><br><small>Yazar:{{art.author}}</small></li>
        {% endfor %}
    </ul>

</div>
{% endblock body %}